.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.word {
  text-align: center;
  color: #ffffff;
  font-size: larger;
  font-weight: bolder;
}

.options {
  display: flex;
  flex-direction: column;
}

.option {
  margin-top: 10px;
  border: 1px solid #4D5B9E;
  border-radius: 8px;
  background-color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.option:hover {
  background-color: #D6DBF5;
}

.nextButton {
  width: 200px;
  height: 50px;
  box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #97a2d8 5%, #4D5B9E 100%);
	background-color:#97a2d8;
	border-radius:6px;
	border:1px solid #97a2d8;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
  margin-top: 20px;
}

.nextButton:hover {
  background:linear-gradient(to bottom, #4D5B9E 5%, #97a2d8 100%);
	background-color:#1e62d0;
}

.info {
  font-weight: 500;
}